<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kendo Angular App</title>
  </head>
  <body>
    <button kendoButton (click)="edit()">Еdit</button>
    <kendo-label text="Show ID">
      <kendo-switch [(ngModel)]="checked"></kendo-switch>
    </kendo-label>
    <kendo-grid
      [resizable]="true"
      [kendoGridBinding]="gridData"
      [filterable]="true"
      [groupable]="true"
      [sortable]="{ allowUnsort: true, mode: 'multiple' }"
      [pageSize]="10"
      [pageable]="{ buttonCount: 3, pageSizes: [5, 10, 20] }"
      [style.height.%]="80"
    >
      <kendo-grid-column
        field="userId"
        title="UserID"
        [width]="30"
        [hidden]="checked"
      ></kendo-grid-column>
      <kendo-grid-column field="id" title="ID" [width]="30"></kendo-grid-column>
      <kendo-grid-column field="title" title="Title" [width]="140"
        ><ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          [ngClass]="{}"
          >{{ rowIndex + 1 }} /
          <strong>{{ dataItem.title }}</strong>
          ({{ (rowIndex + 1) % 2 !== 0 ? "odd" : "even" }})</ng-template
        ></kendo-grid-column
      >
      <kendo-grid-column
        field="body"
        title="Body"
        [width]="120"
      ></kendo-grid-column>
    </kendo-grid>
  </body>
</html>
